<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <title>Account</title>
</head>

<body>
    <h1>Festimatch 🎉</h1>

    <h3>Registreer hier je account</h3>
    <section class="Form">

        <form action="/register" method="post">
            
            <label for="username">naam:</label>
            <input name="username" type="text">

            <label for="email">E-mail</label>
            <input type="email" name="email">

            <label for="wachtwoord">Wachtwoord</label>
            <input type="password" name="password">

            <label for="geslacht">Geslacht:</label>
            <label for="geslacht">Man</label>
            <input type="radio" name="geslacht" value="man" />
            <label for="geslacht">Vrouw</label>
            <input type="radio" name="geslacht" value="vrouw">

          
            <label for="voorkeur1"> Ben jij een danser of een zitter? 🕺</label>
            <label for="voorkeur1">Danser</label>
            <input type="radio" name="voorkeur1" value="dancer">
            <label for="voorkeur1">Zitter</label>
            <input type="radio" name="voorkeur1" value="zitter">


            <label for="opzoek">Ik ben opzoek naar een:</label>          
            
             <select name="opzoek"> <!--Supplement an id here instead of using 'text'-->
                <option name="man" value="man">Man</option> 
                <option name="vrouw" value="vrouw">Vrouw</option>
                <option name="nogender" value="nogender">Festival maatje (Geslacht maakt niet uit)</option>
              </select>


            <label for="foto"> Upload een leuke profiel foto</label>
            <button>Upoad Foto</button>

            <aside>
                <h3>Selecteer de festivals waar je naar toe gaat</h3>
            </aside>
            <section class="festivals">
    
                    <label class"f-1">  <label>Open Air</label> <input type="checkbox" name="festival" value="Open Air"> </label>
                   
                    <label class"f-2"> <label>Awakenings Festival</label> <input type="checkbox" name="festival" value="Awakenings Festival"> </label>
                    
                    <label class"f-3"> <label>Lente Kabinet</label> <input type="checkbox" name="festival" value="Lente Kabinet">
                   
                    <label class="f-4"> <label>Solar Weekender</label> <input type="checkbox" name="festival" value="Solar Weekender">
                 
                    <label class="f-5"> <label>Defcon</label> <input type="checkbox" name="festival" value="Defcon">
                 
                    <label class="f-6"> <label>We are Electric</label> <input type="checkbox" name="festival" value="We Are Electric">
                  
                    <label class="f-7"> <label>Pink Pop</label> <input type="checkbox" name="festival" value="Pink Pop">
                        <div class="button-wrap">
        
                            <button>Ga door</button> 
                        </div>
                  
                </form>
    </section>
   
</body>

</html>