<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <title>Document</title>
</head>
<header>
<h1>Festimatch 🎉</h1>
</header>
<body>
    <aside>
        <h3>Selecteer de festivals waar je naar toe gaat</h3>
    </aside>
    <section class="festivals">
        <form action="/festivals" method="POST">
            <label class"f-1">  <h3>Open Air</h3> <input type="checkbox" name="festival" value="Open Air"> </label>
           
            <label class"f-2"> <h3>Awakenings Festival</h3> <input type="checkbox" name="festival" value="Awakenings Festival"> </label>
            
            <label class"f-3"> <h3>Lente Kabinet</h3> <input type="checkbox" name="festival" value="Lente Kabinet">
           
            <label class="f-4"> <h3>Solar Weekender</h3> <input type="checkbox" name="festival" value="Solar Weekender">
         
            <label class="f-5"> <h3>Defcon</h3> <input type="checkbox" name="festival" value="Defcon">
         
            <label class="f-6"> <h3>We are Electric</h3> <input type="checkbox" name="festival" value="We Are Electric">
          
            <label class="f-7"> <h3>Pink Pop</h3> <input type="checkbox" name="festival" value="Pink Pop">
                <div class="button-wrap">

                    <button>Ga door</button> 
                </div>
          
        </form>
   

        


    </section>

</body>
</html>