<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action=/log-in method=post>
        <label>
          Username
          <input name=username>
        </label>
        <label>
          Password
          <input name=password type=password>
        </label>
        <button>Log in</button>
      </form>
</body>
</html>