<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">

    <title>profile</title>
</head>
<body>

    <article>
            <!-- //Code from Slides lecture 4 if there is a user hello user if not sign in -->
        <p> 
               
                <% if (user) { %>
                    Hallo <%= user.username %>!
                    Jouw favoriete festival is <%= user.festival %> %>
                  <% } else { %>

                    
                    
                    <a href=/login>Log in</a>
                    or
                    <a href=/sign-up>Sign up</a>

                  <% } %>      
        </p>
    <section class="aanpassen">
            <h3>pas hier je gegevens aan</h3>

            <form action="/updateUser" method="post">
            
                <label for="username">naam:</label>
                <input name="username" type="text">
    
                <label for="email">E-mail</label>
                <input type="email" name="email">
    
              
    
                <label for="voorkeur1"> Ben jij een danser of een zitter? 🕺</label>
                <label for="voorkeur1">Danser </label>
                <input type="radio" name="voorkeur1" value="dancer">
                <label for="voorkeur1">Zitter</label>
                <input type="radio" name="voorkeur1" value="zitter">
    
                <label for="opzoek">Ik ben opzoek naar een:</label>          
                
                    <select name="opzoek"> <!--Supplement an id here instead of using 'text'-->
                    <option name="man" value="man">Man</option> 
                    <option name="vrouw" value="vrouw">Vrouw</option>
                    <option name="nogender" value="festivalmaatje">Festival maatje (Geslacht maakt niet uit)</option>
                    </select>
                <div class="button-wrap">   
        
                        <button>Aanpassen</button> 
                </div>
            </form>


    </section>
</article>
</body>
</html>