<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">

    <title>profile</title>
</head>
<body>

    <article>
            <!-- //Code from Slides lecture 4 if there is a user hello user if not sign in -->
        <p> 
               
                <% if (user) { %>
                    Hallo <%= user.username %>!
                    Jij gaat naar <%= user.festival %> %>
                  <% } else { %>
                    <a href=/login>Log in</a>
                    or
                    <a href=/sign-up>Sign up</a>

                  <% } %>  
        </p>
</article>
</body>
</html>