@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Fredoka+One|Raleway);
body {
  margin: 0;
  background-color: #ecf0f1; }

p {
  font-family: 'Montserrat'; }

h1 {
  font-family: 'Fredoka One', cursive;
  font-size: 2em;
  color: #7f47cb; }

h3 {
  font-size: 15px;
  margin-bottom: 0;
  color: #303F9F;
  font-family: 'Montserrat', sans-serif; }

article {
  background-color: #ff5bbc75;
  /* border-radius: 50%; */
  padding: .5em 1em 1.5em 1em;
  opacity: 12%; }

button {
  background: #ff5bbc;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  margin-top: 1em; }
  button:hover {
    background-color: #76fcfc;
    text-decoration: none; }

.matches {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 6em; }

form {
  display: flex;
  align-items: left;
  flex-direction: column;
  margin-left: 2em; }

label {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  color: #303F9F; }

.button-wrap {
  display: flex;
  justify-content: center;
  margin-top: 1em; }

img {
  max-width: 100%;
  height: 15em; }

.card {
  background-color: #f4f4f4;
  width: 300px;
  margin: 10px auto;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.7); }

.card-header {
  overflow: hidden;
  width: 100%;
  max-height: 200px; }

.card-header img {
  height: auto;
  width: auto;
  filter: hue-rotate(4em); }

.card-content {
  width: 85%;
  margin: 35px auto; }

.card-content h3 {
  font-size: 25px;
  margin-bottom: 0;
  color: #303F9F;
  font-family: 'Montserrat', sans-serif; }

.card-content h4 {
  font-size: 14px;
  margin-top: 0;
  color: #ff5bbc;
  font-family: 'Montserrat', sans-serif; }

.card-content p {
  color: #727272;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif; }

.card-footer {
  border-top: solid 1px #B6B6B6;
  padding: 5px; }

.card-footer ul {
  padding: 0;
  width: 90%;
  margin: auto;
  text-align: center; }

card-footer ul li {
  display: inline-block;
  list-style: none;
  margin: 5px; }

.card-footer ul li i {
  font-size: 2em;
  color: #3F51B5;
  margin-bottom: 2em; }

.card button {
  width: 6em; }

.card .match {
  width: 12em; }

.festivals {
  display: grid; }

.festivals label {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  grid-gap: 0.2em;
  color: #3F51B5; }
  .festivals label h3 {
    text-align: center; }

div.tabbar {
  height: 4em;
  display: flex;
  background-color: #f4f4f4;
  position: fixed;
  width: 100%;
  left: 0em;
  justify-content: space-evenly;
  bottom: 0em;
  box-shadow: 0px 0px 5px 2px #b9b9b969; }
  div.tabbar tabbar a {
    font-family: 'Montserrat';
    text-decoration: none;
    list-style: none;
    color: black;
    box-sizing: border-box; }

.img-wrap {
  display: flex;
  justify-content: center; }

img.avatar {
  display: flex;
  width: 10em;
  height: 10em;
  border-radius: 50%; }
